/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import '~@angular/material/prebuilt-themes/purple-green.css';
/*font-family: 'Open Sans Condensed', sans-serif;*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0; padding: 0;
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  background-color: #69B1A9;

  display: flex;
  justify-content: center;
  align-items: center;
}

