<div id="container">
  <div id="free-container">
    <img *ngIf="imageFound" [src]="logoPath" alt="" (error)="this.imageFound = false">
    <h1>{{ modPackName }}</h1>
  </div>

  <div id="navigation">

    <div *ngIf="instanceState === InstanceState.installed"
         id="play-button"
         (click)="startMinecraftModPack()"
         class="button nav-elem">
      Play
    </div>

    <div *ngIf="instanceState === InstanceState.notInstalled"
         id="install-button"
         (click)="openInstallPrompt()"
         class="button nav-elem">
      Install
    </div>

    <div class="nav-elem">
      <mat-icon (click)="openSettings()">settings</mat-icon>
    </div>

  </div>
</div>

<app-install-prompt (installFinished)="changeInstallState(InstanceState.installed)"></app-install-prompt>
<app-settings-window (deleteInstance)="changeInstallState(InstanceState.notInstalled)"></app-settings-window>
