#container {
  flex-direction: column;
}

#navigation {
  height: 20vh;
  width: 100%;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container img {
  height: 40vh;
}

#free-container {
  height: 80vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.button {
  padding: 3vh 5vh;
  color: white;
  background-color: #42b983;

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

  cursor: pointer;
}

.nav-elem {
  margin: 0 1vw;
  cursor: pointer;
}

.nav-elem input {
  background-color: grey;
  border-radius: 2px;
  border: none;
  padding: 2vh;
}

.nav-elem mat-icon {
  color: grey;
}
