<div id="container">
  <div id="free-container">
    <img *ngIf="imageFound" [src]="logoPath" alt="" (error)="this.imageFound = false">
    <h1>{{ modPackName }}</h1>
  </div>

  <div id="navigation">
    <div *ngIf="installationState === InstallationState.installed"
         id="play-button"
         (click)="installMinecraftModPack()"
         class="button">
      Play
    </div>

    <div *ngIf="installationState === InstallationState.installing"
         id="percentage-button"
         class="button">
      {{percentage}} %
    </div>

    <div *ngIf="installationState === InstallationState.notInstalled"
         id="install-button"
         (click)="installMinecraftModPack()"
         class="button">
      Install
    </div>
  </div>
</div>
