<div id="prompt-container" *ngIf="active">
  <div id="prompt">
    <div id="prompt-top-nav">
      <div id="prompt-top-left-nav-container">

      </div>

      <div id="prompt-top-right-nav-container" (click)="close()">
        <div class="nav-elem nav-elem-button">
          <mat-icon>
            close
          </mat-icon>
        </div>
      </div>
    </div>

    <div id="prompt-content">
      <div [ngSwitch]="pageNo" id="page-switch">
        <div id="prompt-content-1" class="prompt-content" *ngSwitchCase="1">
          <h1>Information</h1>
          <p>
            This installation will do the following:
          </p>

          <ul>
            <li>Download the modpack from the internet</li>
            <li>Extract the downloaded zip file</li>
            <li>Copy the required Version into the home minecraft directory</li>
            <li>
              Modify the default minecraft config (this is required fo showing the modpack in the default minecraft
              launche)
            </li>
          </ul>
        </div>

        <div id="prompt-content-2" class="prompt-content" *ngSwitchCase="2">
          <h1>Memory</h1>

          <div id="memory-content" *ngIf="maxMemory">

            <div id="memory-content-slider">
              <span>{{ minMemory }}</span>

              <mat-slider
                [min]="minMemory"
                [max]="maxMemory"
                step="1"
                tickInterval="1"
                [(ngModel)]="memoryValue"
              >
              </mat-slider>

              <span>{{ maxMemory }}</span>
            </div>

            <div id="memory-content-value">
              <span>{{ memoryValue }}GB</span>
            </div>

            <span class="err-text" *ngIf="!maxMemory">
              total memory not found
            </span>

          </div>
        </div>

        <div id="prompt-content-3" class="prompt-content" *ngSwitchCase="3">
          <h1>Install</h1>

          <div id="install-content-progress" *ngIf="installStatus">
            <mat-progress-bar color="accent" [value]="installStatus.percentage"></mat-progress-bar>
            <span> {{ installStatus.percentage }} % </span>
            <span> {{ installStatus.installationStep }} </span>
          </div>

        </div>
      </div>
    </div>

    <div id="prompt-bottom-nav">
      <div id="prompt-bottom-left-nav-container">
        <div *ngIf="pageNo < pageMax">
          <div class="nav-elem nav-elem-button" *ngIf="pageNo != 1">
            <div class="button red-button" (click)="previous()" >previous</div>
          </div>
        </div>

        <div *ngIf="pageNo === pageMax && !finished">
          <div class="nav-elem nav-elem-button" *ngIf="pageNo != 1">
            <div class="button red-button" (click)="cancel()" >cancel
            </div>
          </div>
        </div>
      </div>

      <div id="prompt-bottom-right-nav-container">

        <div *ngIf="pageNo < pageMax - 1">
          <div class="nav-elem nav-elem-button">
            <div class="button green-button" (click)="next()">next</div>
          </div>
        </div>

        <div *ngIf="finished">
          <div class="nav-elem nav-elem-button">
            <div class="button green-button" (click)="finish()">finish</div>
          </div>
        </div>

        <div *ngIf="pageNo === pageMax - 1">
          <div class="nav-elem nav-elem-button">
            <div class="button green-button" (click)="install()">install</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
